<div *ngIf="about != null">
	<div id="layout">
	    <div class="content">
	        <h1 class="content-subhead">{{about.title}}</h1>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-3">
					<div *ngFor="let entry of about.body">
        				<img *ngIf="service.isImage(entry)" 
						[src]="service.getImagePath(entry)" 
						class="pure-img centered-image" alt=""/>
						<a *ngIf="service.isLink(entry)" [href]="service.getLinkURL(entry)" 
						target="_blank">{{service.getLinkWord(entry)}}</a>
						<p *ngIf="service.isText(entry)">{{service.getText(entry)}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>