<div id="layout">
    <div class="content">
        <h1 class="content-subhead">Projects</h1>
		<h3 class="project-key">⭐️ = one of my favorites</h3>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div *ngFor="let project of projects">
					<div *ngIf="project.title.substring(0,1) != '.'">
						<a class="contact-link" (click)="chose(project)" id="fake-link">{{project.title}}</a>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="selectedProject != null">
			<hr/>
	        <h1 class="content-subhead">{{selectedProject.title}}</h1>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-3">
					<div *ngFor="let entry of selectedProject.body">
        				<img *ngIf="service.isImage(entry)" 
						[src]="service.getImagePath(entry)" 
						class="pure-img centered-image" alt=""/>
						<a *ngIf="service.isLink(entry)" [href]="service.getLinkURL(entry)" 
						target="_blank">{{service.getLinkWord(entry)}}</a>
						<p *ngIf="service.isText(entry)">{{service.getText(entry)}}</p>
					</div>
				</div>
			</div>
			<!-- specific code to embed a video for the slot machine article -->
			<div *ngIf="selectedProject.title.includes('Slot')">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/n5RvtImHOJM" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>