<div class="content">
	<div class="pure-g">
		<div class="pure-u-1">
			<div id="contact-container">
				<a href="mailto:trevor.j.phillips@uconn.edu" class="contact-link">
					<i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i>
					<p>trevor.j.phillips@uconn.edu</p>
				</a>
				<p>Resumé and CV available upon request.</p>
			</div>
		</div>
	</div>
</div>
