<div *ngIf="now != null">
	<div id="layout">
	    <div class="content">
	        <h1 class="content-subhead">Now</h1>
			<h4 class="content-subhead content-subhead-2">Inspired by <a href="http://nownownow.com/about">Derek Sivers</a></h4>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-3">
					<h2>{{now.title}}</h2>
					<div *ngFor="let entry of now.body">
        				<img *ngIf="service.isImage(entry)" 
						[src]="service.getImagePath(entry)" 
						class="pure-img centered-image" alt=""/>
						<a *ngIf="service.isLink(entry)" [href]="service.getLinkURL(entry)" 
						target="_blank">{{service.getLinkWord(entry)}}</a>
						<p *ngIf="service.isText(entry)">{{service.getText(entry)}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>