<div class="header">
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
        <p class="pure-menu-heading">Trevor Phillips</p>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/projects" class="pure-menu-link">Projects</a></li>
			<li class="pure-menu-item"><a href="/now" class="pure-menu-link">Now</a></li>
			<li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>