body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}

.pure-menu-link {
    padding: 1em 1em;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}

.photo-box img {
    max-width: 100%;
    height: auto;
    min-height: 250px;
}

.photo-box aside {
    position: absolute;
    bottom: -50%;
	right: 0;
    padding: 1em 0.5em;
    color: white;
    width: 100%;
	height: 100%;
    text-align: center;
}

.photo-box code {
	font-size: 35px;
}
	
.text-box {
    background: rgb(49, 49, 49); /* bluish grey */
    color: rgb(255, 190, 94); /* steel blue */
}

.text-box-head {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 24px;
	text-align: center;
	line-height: 250px;
	height: 100%;
}

.text-box-head span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #eee;
}

.form-box .pure-button {
    background-color: #61B842;
    color: white;
    vertical-align: top;
    font-size: 85%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 4px;
    margin: 0.3em;
}
.pure-form input[type] {
    margin: 0.3em auto;
    text-align: center;
}

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}
