#fake-link {
	cursor: pointer;
}

a.pretty-link {
  transition: color .4s;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 15px;
}
a:link.pretty-link, a:visited.pretty-link { 
	color: #FFFFFF; 
}
a:hover.pretty-link { 
	color: #AAAAAA; 
}
a:active.pretty-link {
  transition: color .3s;
  color: #CCCCCC;
}

a.contact-link {
  transition: color .4s;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 15px;
}
a:link.contact-link, a:visited.contact-link { 
	color: #000000; 
}
a:hover.contact-link { 
	color: rgb(130, 130, 130); 
}
a:active.contact-link {
  transition: color .3s;
  color: rgb(50, 50, 50);
}

#contact-container {
	text-align: center;
}

.centered-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#bottom-image {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#disclaimer {
	margin: 0px;
	margin-left: 10px;
	padding: 0px;
	color: gray;
}

.project-key {
    margin: 10px 0 10px 0;
    font-weight: 300;
    color: #888;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.content-subhead-2 {
    margin: 0;
}

