<h4 id="disclaimer"><em>Disclaimer: this isn't exactly a professional website...</em></h4>
<div class="pure-g">
    <div class="photo-box u-1 u-med-1-3 u-lrg-1-4">
        <img src="assets/code1.jpg">

        <aside class="photo-box-caption">
            <code>Code.</code>
        </aside>
    </div>

    <div class="text-box u-1 u-med-2-3 u-lrg-3-4">
        <div class="text-box-head">
            <span>Trevor Phillips. In a nutshell.</span>
        </div>
    </div>

    <div class="photo-box u-1 u-med-1-3 u-lrg-1-3">
        <img src="assets/sleep.jpg">

        <aside class="photo-box-caption">
            <code>Sleep.</code>
        </aside>
    </div>

    <div class="photo-box u-1 u-med-1-3 u-lrg-1-3">
        <img src="assets/hack.png">

        <aside class="photo-box-caption">
            <code>Hack.</code>
        </aside>
    </div>

    <div class="photo-box u-1 u-med-1-3 u-lrg-1-3">
        <img src="assets/eat.jpg">

        <aside class="photo-box-caption">
            <code>Eat.</code>
        </aside>
    </div>

    <div class="photo-box u-1 u-med-1 u-lrg-1">
        <img src="assets/code2.png" id="bottom-image">

        <aside class="photo-box-caption">
            <code style="color: #111">More code.</code>
        </aside>
    </div>
</div>